{% extends 'transactions/base.html' %}

{% block content %}

{% load static %}
{% load widget_tweaks %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-left"><img style="max-height:40px;padding-top:5px;padding-right:10px" src = "{% static 'transactions/piggy_bank.png' %}"></a>
          <a class="navbar-brand" href={% url 'transactions:index' %}>Andy's Money</a>
        </div>
      </div>
    </nav>

    <div class="container">
        <form method="post" class="form-signin">
        {% csrf_token %}
          <h3 class="form-signin-heading">Please login</h3>
          {% if form.errors %}
          <div class="alert alert-warning">
          <p>Username and password don't match.</p>
          </div>
          {% endif %}
          <label for="username" class="sr-only">  {% render_field form.username.label %} </label>
        {% render_field form.username class="form-control" placeholder='Username' autocomplete='off'%}
          <label for="password" class="sr-only">{% render_field form.password.label %}</label>
        {% render_field form.password class="form-control" placeholder='Password' autocomplete='off' %}
        <button class="btn btn-default btn-lg btn-block" type="submit">Login</button>
        </form>
    </div> <!-- /container -->

{% endblock %}
