{% extends 'transactions/base.html' %}

{% block content %}
{% load static %}
{% load widget_tweaks %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left"><img style="max-height:40px;padding-top:5px;padding-right:10px" src = "{% static 'transactions/piggy_bank.png' %}"></a>
          <a class="navbar-brand" href={% url 'transactions:index' %}>Andy's Money</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url 'transactions:index' %}>Home</a></li>
            <li class="active"><a href="{% url 'transactions:select_tx' %}">Spending History</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Transactions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'transactions:ofxupload' %}">Upload OFX</a></li>
                <li><a href="{% url 'transactions:add_tx' %}">Manually Add Transaction</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'transactions:logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="container" style='max-width:400px;margin:0 auto'>

      <!-- Main component for a primary marketing message or call to action -->
        <form action={% url 'transactions:view_tx' %} method="post">
          <h3 class='text-muted'>Select Transactions to View</h3>
          {% csrf_token %}
          <hr style='border-color:#A9A9A9'/>
          <div class="form-group">
          <label for="start_date">{% render_field form.start_date.label %}</label>
          {% render_field form.start_date class="datepicker form-control" %}
          </div>
          <div class="form-group">
          <label for="end_date">{% render_field form.end_date.label %}</label>
          {% render_field form.end_date class="datepicker form-control" %}
          </div>
          <div class="form-group">
          <label>Accounts</label>
          {% for field in form %}
            {% if field.name|slice:":4" == 'acct' %}
            <div class="checkbox">
              <label>
                {{field}} {{field.label}}
              </label>
            </div>
            {% endif %}
          {% endfor %}
        </div>
          <input class='btn btn-default' type="submit" value="Next" />
        </form>


    </div> <!-- /container -->

{% endblock %}
