{% extends 'transactions/base.html' %}

{% block content %}
{% load static %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-left"><img style="max-height:40px;padding-top:5px;padding-right:10px" src = "{% static 'transactions/piggy_bank.png' %}"></a>
          <a class="navbar-brand" href={% url 'transactions:index' %}>Andy's Money</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url 'transactions:index' %}>Home</a></li>
           <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Spending History <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="active"><a href="{% url 'transactions:view_tx' %}">Spending Summary</a></li>
                <li><a href="{% url 'transactions:search_tx' %}">Search Transactions</a></li>
              </ul>
            </li>
             <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Transactions <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'transactions:ofxupload' %}">Upload OFX</a></li>
                <li><a href="{% url 'transactions:add_tx' %}">Manually Add Transaction</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'transactions:logout' %}">Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style='max-width:1200px;margin:0 auto'>
    <h3 class='text-center text-muted'>Spending Summary</h3>
    <hr style='border-color:#A9A9A9'/>
      <div class="row" style='display:flex;align-items:center'>
        <div class="col-md-6">

      <!-- Main component for a primary marketing message or call to action -->

        <table class=table>

        <tr>
          <td><b>Period start</b></td>
          <td>{{ start_date }}</td>
          <td><b>Start balance</b></td>
          <td>£{{ start_bal }}</td>
        </tr>
        <tr>
          <td><b>Period end</b></td>
          <td>{{ end_date }}</td>
          <td><b>End balance</b></td>
          <td>£{{ end_bal }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><b>Total change</b></td>
          <td>£{{ total_change }}</td>
        </tr>
        </table>

        </div>

      <div class="col-md-6">

        <script src="{% static 'transactions/moment.js' %}"></script>
        <script src="{% static 'transactions/Chart.bundle.FIXline16460.js' %}"></script>

        <canvas id="myDoughnutChart" width="400" height="150"></canvas>
        <script>
        var ctx = document.getElementById("myDoughnutChart");
        var data = {
          labels: [
            "Card Payment",
            "Direct Debit",
            "Cash Withdrawal",
            "Transfer",
            "Other"
          ],
          datasets: [
            {
              data: [
                {{t_types.POS}},
                {{t_types.DIRECTDEBIT}},
                {{t_types.DEBIT}},
                {{t_types.XFER}},
                {{t_types.OTHER}}
              ],
              backgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#00ff80",
                "#bf00ff"
              ],
              hoverBackgroundColor: [
                "#FF6384",
                "#36A2EB",
                "#FFCE56",
                "#00ff80",
                "#bf00ff"
              ]
            }]
        };
        var options = {
          animation: {
            animateScale: false,
            animateRotate: false
          }
        };
        var myDoughnutChart = new Chart(ctx, {
          type: 'doughnut',
          data: data,
          options: options
        });
        </script>
    </div>
  </div>

      <div class="container" style='max-width:1200px;margin:0 auto'>
      <canvas id="myLineChart" width="400" height="100"></canvas>
      <script>
      var ctx = document.getElementById("myLineChart");
      var data = {
        datasets: [
          {label: 'Total Balance',
            data: [
                  {% for t in t_data_all %}
                    {x:moment('{{t.date}}', 'DD MMM YYYY'), y:{{t.balance}}},
                  {% endfor %}
                  ],
            lineTension: 0,
            pointRadius: 0.5,
        }]
      };
      var options = {
        legend: {display: false},
        animation: {duration: 0},
        layout: {padding: 15},
        scales: {
          xAxes: [{
            type: 'time',
            time: {minUnit: 'day'},
            position: 'bottom',
            ticks: {padding:100}
          }],
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: "Balance (£)"
            }
          }]
        }
      };
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: data,
        options: options
      });
      </script>

      </div>

    <div class="container" style='max-width:1200px;margin:0 auto'>
        <table class=table table-condensed>
	        <caption><h3>Transactions</h3></caption>
	        <tr>
	          <th>Date</th>
	          <th>Bank</th>
	          <th>Account</th>
	          <th>Description</th>
	          <th>Amount</th>
	          <th>Balance</th>
	        </tr>
	        {% for t in t_data_all %}
	        <tr>
	        	<td>{{t.date}}</td>
	        	<td>{{t.bank}}</td>
	        	<td>{{t.account}}</td>
	        	<td>{{t.description}}</td>
	        	<td>£{{t.amount}}</td>
	        	<td>£{{t.balance}}</td>
	        </tr>
	        {% endfor %}
        </table>   	
    </div>

<script src="{% static 'transactions/jquery-1.12.1.min.js' %}"></script>


{% endblock %}
